<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="handlebars/dist/handlebars.min.js"></script>
<script src="handlebars-intl/dist/handlebars-intl.min.js"></script>
<script src="/libs/handlebars.runtime.js"></script>
<script>//javascript
function login(){//log in
  var arr={
    "user_email"    : $("#user_email").val(),
    "user_password" : $("#user_password").val()
  }
 $.ajax({
    url: '/registereduser',
    type: 'POST',
    data: JSON.stringify(arr),
    contentType: 'application/json; charset=utf-8',
    dataType: 'json',
   
    success: function(msg) {
     
    }

 });//ajax
  window.location='/registereduser';
}//end
function log(){
 window.location='/';
}//end login
function regis(){

  var arr = { 
      "reg_username" : $("#reg_username").val(), 
      "reg_email" : $("#reg_email").val(), 
      "reg_name" : $("#reg_name").val(), 
      "reg_password" : $("#reg_password").val()
    };

$.ajax({
    url: '/dashboard',
    type: 'POST',
    data: JSON.stringify(arr),
    contentType: 'application/json; charset=utf-8',
    dataType: 'json',
   
    success: function(msg) {
     
    }
});//ajax
  window.location='/dashboard';
}
function registerform(){
  window.location='/register';
}//end
</script>
<style>
.button {
  padding: 10px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 20px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: #3e8e41}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}
.div
{
}
</style>
<body>

{{{body}}}

</body>
</head>
</html>