<div id="login">  
<center>
  E-mail Address:<br>
  <input  id="user_email" placeholder="Enter ID number" >
  <br>
  Password:<br>
  <input  id="user_password" type="password" placeholder="Enter Password" class="" id="Passwd">
  <br><br>
  <button class="button" onclick="login()">Log-in</button>
  <button class="button" onclick="registerform()">Register</button>
</center>
</div>

