<center>
<div id="register">
      <table border=0>
            <tr>
               <th>
                  User Name:<br>
                  <input type="text" id="reg_username" placeholder="Enter your user name">
                  <br>i
                  Email Address:<br>
                  <input type="text" id="reg_email" placeholder="Enter your Email Address">
                  <br>
                  Name:<br>
                  <input type="text" id="reg_name" placeholder="Enter Full Name">
                  <br>
               </th>
               <th>
                    Password:<br>
                    <input id="reg_password" type="password" placeholder="Password" class="" >
                    <br>
                    Comform Password:<br>
                    <input id="reg_cpassword" type="password" placeholder="Conform password" class="" >
                    <br>
               </th>
            </tr>
            <tr>
              <th colspan="2">
                <button class="button" onclick="regis()" button id="show">Submit</button>
              </th>
            </tr>
      </table>
  </div>
</center>